@page "/bookmarks-gallery"
@using ProjectWork.Utilities
<h1 class="fw-light">My Bookmarks</h1>
<hr />

@if (App.Authentication.UserSession is null || App.Authentication.UserSession.User is null)
{
    <h1>How did you get here? Anyhow you need to be logged in to have any bookmarks...</h1>
}
else
{
    @if (App.Authentication.UserSession.User.BookmarkedArtworks.Count == 0)
    {
        <h1>You don't have any bookmarks yet, while browsing our gallery please press the 'Add to bookmarks' button to add the selected artwork to your bookmarks.</h1>
    }
    else
    {
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @foreach (var bookmarkedArtwork in App.Authentication.UserSession.User.BookmarkedArtworks)
                    {
                        <div class="col">
                            <div class="card shadow-sm w3-round-large h-100">
                                <div class="card-header">
                                    <h1 class="w3-margin-left w3-bold w3-large w3-padding-16">@bookmarkedArtwork.Title</h1>
                                </div>

                                <div class="card-body h-75">
                                    <img src="@bookmarkedArtwork.ImageUrl" class="card-image" alt="@bookmarkedArtwork.Title" />
                                    <p class="card-text">@bookmarkedArtwork.Id - @bookmarkedArtwork.Author</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        
                                    </div>
                                </div>

                                <div class="card-footer">
                                    <div class="btn-group">
                                        <a class="general-button w3-margin-right"
                                           href="/detail-artwork/@bookmarkedArtwork.Id">
                                            <span class="material-symbols-outlined w-100">
                                                auto_stories
                                            </span>
                                            Go to page
                                        </a>
                                        <button type="button" class="general-button"
                                    @onclick="async () => { await Bookmarks.RemoveFromBookmarks(bookmarkedArtwork.Id, bookmarkedArtwork.Title); }">
                                            <!--TODO: Call modal instead of this-->
                                            <span class="material-symbols-outlined w-100">
                                                close
                                            </span>
                                            Remove from bookmarks
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <ProjectWork.Shared.Components.Modal Artwork="bookmarkedArtwork" @ref="Modal"></ProjectWork.Shared.Components.Modal>
                    }
                </div>

                <hr>
                <p class="w3-opacity">You have @App.Authentication.UserSession.User.BookmarkedArtworks.Count bookmarks</p>
            </div>
        </div>
    }
}

@code {

    private Modal Modal { get; set; }

}