@page "/accountEdit"
@using ProjectWork.Models.Core.Authentication
@using ProjectWork.Utilities
@inject NavigationManager NavManager

<div class="card w3-padding w3-hide-large w3-hide-medium">
    <h3 class="w3-margin-left">Edit Profile</h3>
    <hr />
    <EditForm Model="_editUser" OnValidSubmit="async () => await AttemptEdit(_editUser)">
        <div class="container">
            <div class="row ">
                <div class="w3-center">
                    <img class="w3-round-large"
                         src="@App.Authentication.UserSession.User.ProfilePicture" alt="profile picture"
                         style="width: 270px; height: auto; display: inline-block;" />
                    <InputFile id="idProfilePicture" class="form-control w3-margin-top" OnChange="e => _editUser.ProfilePicture = e.File" />
                </div>
                   
                </div>
                <div class="col">
                    <ul class="w3-margin-top" style="line-height:200%">
                        <li>
                            <p>
                                <label>
                                    <span class="material-symbols-outlined">
                                        sell
                                    </span>
                                    Username
                                </label>
                                <input @bind-value="_editUser.UserName" placeholder="@App.Authentication.UserSession.User.Username"
                                       class="w3-round w3-margin-right w-100 w3-margin-bottom" type="text">
                            </p>
                        </li>
                        <li>
                            <p>
                                <label>
                                    <span class="material-symbols-outlined">
                                        mail
                                    </span>
                                    E-Mail
                                </label>
                                <input @bind-value="_editUser.Email" placeholder="@App.Authentication.UserSession.User.Email"
                                       class="w3-round w3-margin-right w-100 w3-margin-bottom" type="text">
                            </p>
                        </li>
                        <li>
                            <p>
                                <label>
                                    <span class="material-symbols-outlined">
                                        badge
                                    </span>
                                    First Name (Optional)
                                </label>
                                <input @bind-value="_editUser.FirstName" placeholder="@App.Authentication.UserSession.User.FirstName"
                                       class="w3-round w3-margin-right w-100 w3-margin-bottom" type="text">
                            </p>
                        </li>
                        <li>
                            <p>
                                <label>
                                    <span class="material-symbols-outlined">
                                        badge
                                    </span>
                                    Last Name (Optional)
                                </label>
                                <input @bind-value="_editUser.LastName" placeholder="@App.Authentication.UserSession.User.LastName"
                                       class="w3-round w3-margin-right w-100 w3-margin-bottom" type="text">
                            </p>
                        </li>
                    </ul>
                </div>
                <!--right-->
            <div class="row">
                <p>
                    <label>
                        <span class="material-symbols-outlined">
                            badge
                        </span>
                        Bio
                    </label>
                    <InputTextArea class="w-100 w3-round" rows="4" @bind-Value="_editUser.Biography" />
                </p>
            </div>

            <DataAnnotationsValidator />
            <ValidationSummary />
            <hr />
            <button class="general-button" type="submit">Apply</button>
        </div>
    </EditForm>
</div>

<div class="card w3-padding w-50 w3-hide-small">
    <h3 class="w3-margin-left">Edit Profile</h3>
    <hr />
    <EditForm Model="_editUser" OnValidSubmit="async () => await AttemptEdit(_editUser)">
        <div class="container">
            <div class="row">
                <!--left-->
                <div class="col">
                    <ul class="w3-margin-top" style="line-height:200%">
                        <li>
                            <p>
                                <label>
                                    <span class="material-symbols-outlined">
                                        sell
                                    </span>
                                    Username
                                </label>
                                <input @bind-value="_editUser.UserName" placeholder="@App.Authentication.UserSession.User.Username"
                                       class="w3-round w3-margin-right w-100 w3-margin-bottom" type="text">
                            </p>
                        </li>
                        <li>
                            <p>
                                <label>
                                    <span class="material-symbols-outlined">
                                        mail
                                    </span>
                                    E-Mail
                                </label>
                                <input @bind-value="_editUser.Email" placeholder="@App.Authentication.UserSession.User.Email"
                                       class="w3-round w3-margin-right w-100 w3-margin-bottom" type="text">
                            </p>
                        </li>
                        <li>
                            <p>
                                <label>
                                    <span class="material-symbols-outlined">
                                        badge
                                    </span>
                                    First Name (Optional)
                                </label>
                                <input @bind-value="_editUser.FirstName" placeholder="@App.Authentication.UserSession.User.FirstName"
                                       class="w3-round w3-margin-right w-100 w3-margin-bottom" type="text">
                            </p>
                        </li>
                        <li>
                            <p>
                                <label>
                                    <span class="material-symbols-outlined">
                                        badge
                                    </span>
                                    Last Name (Optional)
                                </label>
                                <input @bind-value="_editUser.LastName" placeholder="@App.Authentication.UserSession.User.LastName"
                                       class="w3-round w3-margin-right w-100 w3-margin-bottom" type="text">
                            </p>
                        </li>
                    </ul>
                </div>
                <!--right-->
                <div class="col">
                    <div class="row">
                        <img src="@App.Authentication.UserSession.User.ProfilePicture" 
                        alt="profile picture" style="width: 270px; height: auto; border-radius: 8px !important;" 
                        class="w3-round-large" />
                        <InputFile id="idProfilePicture" class="form-control w3-margin-top" OnChange="e => _editUser.ProfilePicture = e.File" />
                    </div>
                </div>
            </div>
            <div class="row">
                <p>
                    <label>
                        <span class="material-symbols-outlined">
                            badge
                        </span>
                        Bio
                    </label>
                    <InputTextArea class="w-100 w3-round" rows="4" @bind-Value="_editUser.Biography" />
                </p>
            </div>

            <DataAnnotationsValidator />
            <ValidationSummary />
            <hr />
            <button class="general-button" type="submit">Apply</button>
        </div>
    </EditForm>
</div>

@code {
    private readonly UserEditModel _editUser = new();

    private async Task AttemptEdit(UserEditModel editUser)
    {
        var attempt = await App.Authentication.UpdateUserAccount(_editUser, _editUser.ProfilePicture);
        if (attempt.status)
        {
            await UtilityToolkit.CreateToast("Account Changed");
            NavManager.NavigateTo("/accountDetails");
        }
        else
        {
            await UtilityToolkit.CreateToast("Account edit failed: " + attempt.message);
        }
    }

}