@page "/accountEdit"
@using ProjectWork.Models.Core.Authentication
@using ProjectWork.Utilities
@inject NavigationManager NavManager

<style>

    ul {
        list-style-type: none;
    }
</style>

<div class="w3-card-4 w3-padding w3-round-xlarge w3-margin-bottom w3-margin-top">
    <h3 class="w3-margin-left">User Profile</h3>

    <hr />
    <EditForm Model="_editUser" OnValidSubmit="async () => await AttemptEdit(_editUser)">

        <ul>
            <li>
                <p class="w3-bold">Username:</p>
            </li>
            <li>
                <input @bind-value="_editUser.UserName" placeholder="@App.Authentication.UserSession.User.Username"
                       class="w3-round w3-margin-right w-75 w3-margin-bottom" type="text" id="username">
            </li>
            <li>
                <p class="w3-bold">E-mail:</p>
            </li>
            <li>
                <input @bind-value="_editUser.Email" placeholder="@App.Authentication.UserSession.User.Email"
                       class="w3-round w3-margin-right w-75 w3-margin-bottom" type="text" id="mail">
            </li>
            <li>
                <p class="w3-bold">Bio:</p>
            </li>
            <li>
                <InputTextArea class="w-100 w3-round" rows="4" @bind-Value="_editUser.Biography" />
            </li>

            <li>
                <p class="w3-bold">First Name:</p>
            </li>
            <li>
                <input @bind-value="_editUser.FirstName" placeholder="@App.Authentication.UserSession.User.FirstName"
                       class="w3-round w3-margin-right w-75 w3-margin-bottom" type="text" id="mail">
            </li>

            <li>
                <p class="w3-bold">Last Name:</p>
            </li>
            <li>
                <input @bind-value="_editUser.LastName" placeholder="@App.Authentication.UserSession.User.LastName"
                       class="w3-round w3-margin-right w-75 w3-margin-bottom" type="text" id="mail">
            </li>

            <li>
                <p class="w3-bold">Profile Picture:</p>
            </li>
            <li>
                <img class="w-100" src="@App.Authentication.UserSession.User.ProfilePicture" alt="profile picture" />
            </li>
            <li class="w3-margin-top">
                <InputFile id="idProfilePicture" class="form-control" OnChange="e => _editUser.ProfilePicture = e.File" />
            </li>

        </ul>

        <hr />

        <span>
            <button type="submit" class="w3-large w3-margin-bottom w3-padding-16 btn w3-button w3-red w3-round w3-margin-bottom w3-margin-top w3-margin-left w3-margin-right">
                Change
            </button>
        </span>
        <DataAnnotationsValidator />
        <ValidationSummary />

    </EditForm>

</div>

@code {
    private readonly UserEditModel _editUser = new();

    private async Task AttemptEdit(UserEditModel editUser)
    {
        var attempt = await App.Authentication.UpdateUserAccount(_editUser, _editUser.ProfilePicture);
        if (attempt.status)
        {
            await UtilityToolkit.CreateToast("Account Changed");
            NavManager.NavigateTo("/accountDetails");
        }
        else
        {
            await UtilityToolkit.CreateToast("Account edit failed: " + attempt.message);
        }
    }

}