@page "/OutgoingRequests"

<h3>Ongoing Requests</h3>
<hr />

@if (!App.Authentication.UserSession.User.Requests.Any())
{
    <p>
        You have not sent any requests on this account,
        if you have any questions or find any other issues make sure to <a href="send-request">write the staff</a>
    </p>
}
else
{
    <table class="table table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">Content</th>
            <th scope="col">Date</th>
            <th scope="col">Seen</th>
            <th scope="col">Completed</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        @foreach (var request in App.Authentication.UserSession.User.Requests)
        {
            <tr>
                <th scope="row">@request.Id</th>
                <td>@request.Subject</td>
                <td>@request.Content</td>
                <td>@request.Date</td>
                <td>
                    <input type="checkbox" checked="@request.IsSeen" disabled="disabled"/>
                </td>
                <td>
                    <input type="checkbox" checked="@request.IsCompleted" disabled="disabled"/>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await App.Authentication.RefreshUserState();
        await base.OnInitializedAsync();
    }

}