@page "/detail-artist/{Id:int}"
@using ProjectWork.ViewModels.Artist
@using ProjectWork.ViewModels.Artwork
@using ProjectWork.Models.Artist
@using ProjectWork.Models.Artwork
@using ProjectWork.Models.Core
@inject SearchArtistVM ArtistDirector
@inject SearchArtworkVM ArtworkDirector
@inject IJSRuntime JsRuntime
<div id="main" class="card m-4 shadow-lg p-3 bg-white">

    <!-- ======= Page Header Section ======= -->
    <div class="page-header d-flex align-items-center card-header">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center card-title">
                    <h1>@_artist.Name</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about card-body">
        <div class="container">

            <div class="row gy-4 justify-content-center">
                <div class="col-lg-4">
                    <img src="@_artist.Portrait" class="img-thumbnail" alt="@_artist.Name">
                </div>
                <div class="col-lg-5 content">
                    <div class="row">
                        <div class="col-lg">
                            <ul>
                                <li>
                                    <span class="material-symbols-outlined">
                                        palette
                                    </span>
                                    <strong>Profession:</strong> <span>@_artist.Profession</span>
                                </li>
                                <li>
                                    <span class="material-symbols-outlined">
                                        calendar_month
                                    </span> <strong>Birth date:</strong> <span>@_artist.BirthData</span>
                                </li>
                                <li>
                                    <span class="material-symbols-outlined">
                                        location_city
                                    </span><strong>School:</strong> <span>@_artist.School</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <p class="py-3">
                @_artist.Biography
            </p>
        </div>
    </section>
    <!-- End About Section -->

    @if (RelatedArtworks.Data.Any())
    {
        <!-- ======= Search Section ======= -->
        <div>
            <PaginatorComponent Paginator="RelatedPaginator"></PaginatorComponent>
        </div>
        <!-- End Search Section -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container-fluid">

                <div class="row gy-4 justify-content-center">
                    @foreach (var artwork in RelatedArtworks.Data)
                    {
                        <!-- Start Gallery Item -->
                        <div class="col-xl-4 col-lg-6 col-md-9" style="height: 350px">
                            <div class="gallery-item h-100">
                                <img class="img-artwork" src="@artwork.ImageUrl" alt="@artwork.Title" style="height: 100%; width: 100%;object-fit: cover;">
                                <div class="gallery-links d-flex align-items-center justify-content-center">
                                    <a href="@artwork.ImageUrl" data-fancybox="gallery" data-caption="@artwork.Title" class="preview-link">
                                        <span class="material-symbols-outlined">
                                            zoom_out_map
                                        </span>
                                    </a>
                                    <a href="/detail-artwork/@artwork.Id" class="details-link">
                                        <span class="material-symbols-outlined">
                                            info
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Gallery Item --->
                    }
                </div>
            </div>
        </section>
    }
    else
    {
        <div class="w3-padding-24 w3-round-large w3-opacity w3-margin-top">
            <p class="middle">There are no artworks related to this artist.</p>
        </div>
    }
    <Navigator></Navigator>


</div>

@code {

    [Parameter]
    public int Id { get; set; }

    private BaseArtist _artist;

    private Parameters RelatedParameters { get; } = new();
    private GenericData<BaseArtwork> RelatedArtworks { get; set; } = new();
    private Paginator RelatedPaginator { get; } = new();

    protected override async Task OnParametersSetAsync()
    {
        _artist = ArtistDirector.GenericData.Data.SingleOrDefault(a => a.Id == Id);
        if (_artist != null) RelatedParameters.SetSpecific(new BaseArtwork { AuthorId = _artist.Id });
        await GetRelatedData();
    }

    private async Task GetRelatedData()
    {
        RelatedArtworks = await ArtworkDirector.GetGenericDataFromParam(RelatedParameters.Dictionary);
        RelatedPaginator.SetActualState(RelatedParameters, GetRelatedData, RelatedArtworks.Count);
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("Main.start");
    }

}