@page "/detail-artist/{Id:int}"
@using ProjectWork.Models.Artwork
@using ProjectWork.ViewModels.Artist
@using ProjectWork.Models.Artist
@inject SearchArtistVM ArtistDirector
@inject IJSRuntime JsRuntime

<div id="page-content">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>@_artist.Name</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->


    <section id="gallery-single" class="gallery-single">
        <div class="container">

            <div class="position-relative h-100">
                <div class="slides-1 portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <a href="@_artist.Portrait" data-fancybox="gallery" data-caption="@_artist.Name">
                                <img class="w3-round w3-image w3-margin-bottom" src="@_artist.Portrait" alt="@_artist.Name" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between gy-4 mt-4">

                @if (_artist.Biography.Length > 0)
                {
                    <div class="col-lg-8">
                        <div class="portfolio-description">
                            <h2>Description</h2>
                            <p>
                                @_artist.Biography
                            </p>

                            @*Chat bot gp         <div class="testimonial-item">
                        <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                        <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <div>
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        </div>
                        </div>
                        *@

                        </div>
                    </div>
                }

                <div class="col-lg-3">
                    <div class="portfolio-info">
                        <h3>Artist information</h3>
                        <ul>
                            <li><strong>Birth Date</strong> <span>@_artist.BirthData</span></li>
                            <li><strong>Profession</strong> <span>@_artist.Profession</span></li>
                            <li><strong>School</strong> <span>@_artist.School</span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    @*<section id="gallery" class="gallery">
        <div class="container-fluid">
            @if (_otherArtworks is not null)
            {
                @foreach (var other in _otherArtworks)
                {
                    <div class="row gy-4 justify-content-center">
                        <!-- Start Gallery Item -->
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="gallery-item h-100">
                                <img src="assets/img/gallery/gallery-1.jpg" class="img-fluid" alt="">
                                <div class="gallery-links d-flex align-items-center justify-content-center">
                                    <a href="assets/img/gallery/gallery-1.jpg" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                                    <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                    <p>
                                        @other.Title
                                    </p>
                                </div>
                            </div>
                        </div><!-- End Gallery Item -->
                    </div>
                }
            }
        </div>
    </section>*@
    <!-- End Gallery Section -->
</div>




@code {
    [Parameter]
    public int Id { get; set; }
    private BaseArtist _artist;
    private IList<BaseArtist> _otherArtists;
    protected override async void OnParametersSet()
    {
        this._artist = ArtistDirector.GenericData.Data.SingleOrDefault(a => a.Id == Id);
        var baseArtwork = this._artist;
        //var paremeteN = new Parameters();
        //paremeteN.SetSpecific(new BaseArtwork() { AuthorId = baseArtwork.AuthorId });
        //if (baseArtwork != null) ArtistDirector.Parameters = paremeteN;
        //var result = await ArtistDirector.GetGenericDataFromPageAsync();
        //_otherArtworks = ArtistDirector.GenericData.Data;
        //this.StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("Main.start");
    }
}
