@using ProjectWork.ViewModels.Artist
@using ProjectWork.Models.Artist
@inject DashboardAdminArtistVM ArtistDirector

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .imageResult {
        display: block;
        max-width: 560px;
        width: auto;
        height: auto;
    }
</style>

<div class="w3-card-4 w3-animate-right w3-round-large w3-white w3-margin-bottom w3-padding-top-24 w3-center">
    <div class="w3-margin-left w3-center">
        <p class="w3-xxlarge">
            @Artist.Name
        </p>

        <div class="w3-row">
            <div class="w3-col m6 w3-center w3-padding-large">
                <p>
                    <b><i class="fa fa-user w3-margin-right"></i>Photo</b>
                </p><br>
                <img src="@Artist.Portrait" class="imageResult" alt="@Artist.Name" />
            </div>

            <div class="w3-col m6 w3-padding-large w3-left-align">
                @if (Artist.Biography.Length > 0)
                {
                    <p>
                        @Artist.Biography
                    </p>
                }
                else
                {
                    <p>
                        [The description is missing. Consider adding it.]
                    </p>
                }
            </div>
        </div>

        <button class="general-button" @onclick="Toggle">Edit</button>
    </div>


    @if (_showEdit)
    {
        <EditForm Model="@Artist" OnValidSubmit="async () => await ArtistDirector.UpdateItemAsync(Artist)">
            <div class="container">
                <div class="row">
                    <div class="col w3-margin-top">
                        <span class="material-symbols-outlined">
                            history_edu
                        </span>
                        <label class="w3-bold">
                            Title
                        </label>
                        <input class="w3-round w-100" type="text"
                           @bind-value="Artist.Name"
                               placeholder="Enter Title">
                    </div>
                </div>

                <div class="row">
                    <div class="col w3-margin-top">
                        <span class="material-symbols-outlined">
                            work
                        </span>
                        <label class="w3-bold">
                            Artist's specailty
                        </label>
                        <input class="w3-round w-100" type="text"
                           @bind-value="Artist.Profession"
                               placeholder="@Artist.Profession">
                    </div>
                </div>

                <div class="row">
                    <div class="col w3-margin-top">
                        <span class="material-symbols-outlined">
                            brush
                        </span>
                        <label class="w3-bold">
                            School
                        </label>
                        <input class="w3-round w-100" type="text"
                           @bind-value="Artist.School"
                               placeholder="Enter Title">
                    </div>
                </div>

                <div class="row">
                    <div class="col w3-margin-top">
                        <span class="material-symbols-outlined">
                            view_timeline
                        </span>
                        <label class="w3-bold">
                            Biography
                        </label>
                        <InputTextArea class="w-100 w3-round" rows="4" @bind-Value="Artist.Biography" />
                    </div>
                </div>


                <div class="row">
                    <div class="col w3-margin-top">
                        <span class="material-symbols-outlined">
                            hourglass_full
                        </span>
                        <label class="w3-bold">
                            Date of Birth and Death
                        </label>
                        <input class="w3-round w-100" type="text"
                           @bind-value="Artist.BirthData"
                               placeholder="Enter Title">
                    </div>
                </div>

                <div class="row">
                    <div class="col w3-margin-top">
                        <span class="material-symbols-outlined">
                            attach_file_add
                        </span>
                        <label class="w3-bold">
                            Portrait or Photo
                        </label>
                        <InputFile OnChange="e => Artist.File = e.File" />
                    </div>
                </div>
            </div>

            <DataAnnotationsValidator />
            <ValidationSummary />

            <button type="submit" class="general-button w3-center">Update</button>
        </EditForm>
    }
</div>


@code {

    [Parameter]
    public BaseArtist Artist { get; set; }

    private bool _showEdit;

    private void Toggle()
    {
        _showEdit = !_showEdit;
    }

}