@using ProjectWork.Models.Artwork
@using ProjectWork.ViewModels
@inject DashboardAdminVM Artwork

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div class="w3-card-4 w3-animate-right w3-round-large w3-white w3-margin-bottom w3-padding-top-24">
    <p class="w3-xxlarge">
        @artwork.Title
        <button class="w3-round-large w3-center button-padding w3-text-black w3-hover-text-red w3-button">
            <span class="material-symbols-outlined">
                bookmark
            </span>
        </button>

    </p>

    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <p><b><i class="fa fa-user w3-margin-right"></i>Photo</b></p><br>
            <img src="@artwork.ImageUrl" alt="@artwork.Title" />
        </div>

        <div class="w3-col m6 w3-padding-large w3-left-align">
            @if (artwork.Description.Length > 0)
            {
                <p>
                    @artwork.Description
                </p>
            }
            else
            {
                <p>
                    [The description is missing. Consider adding it.]
                </p>
            }
        </div>
    </div>

    <button class="general-button" @onclick="toggle">Edit</button>

    @if (showEdit)
    {
        <hr />
        <hr />
        <EditForm Model="@artwork" OnValidSubmit="async()=>await Artwork.AddItemAsync(artwork)">
        <table>
            <tr>
                <th>Field</th>
                <th>Data</th>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Author
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Author"
                           placeholder="Enter Title">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Title
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Title"
                           placeholder="Enter Title">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Date
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Date"
                           placeholder="Enter Title">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Technique
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Technique"
                           placeholder="Enter Title">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Location
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Location"
                           placeholder="Enter Title">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Form
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Form"
                           placeholder="Enter Title">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Type
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Type"
                           placeholder="Enter Title">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td class="w3-padding-16">
                    <p class="w3-w3-bold">
                        Description
                    </p>
                </td>
                <td>
                    <input class="w3-round w-50" type="text"
                       @bind-value="artwork.Description"
                           placeholder="Enter Title">
                </td>
            </tr>
            <!---------------------------------------------------->
            <tr>
                <td>
                    Image
                </td>
                <td>
                    <InputFile OnChange="(e)=> artwork.File = e.File" />
                </td>
            </tr>
        </table>

        
            <DataAnnotationsValidator />
            <ValidationSummary />

            @*TODO: disable if Artwork.IsBusy*@
            <button type="submit" class="general-button">Save</button>
        </EditForm>
    }
</div>


@code {
    [Parameter]
    public Models.Artwork.BaseArtwork artwork { get; set; }
    private bool showEdit = false;

    private void toggle()
    {
        showEdit = !showEdit;
    }
}