@using ProjectWork.ViewModels.Artwork
@using ProjectWork.Models.Artwork
@inject DashboardAdminArtworkVM Artwork

<style>
    .imageResult {
        display: block;
        max-width: 100%;
        width: auto;
        height: auto;
    }
</style>

<div class="card w3-animate-right w3-round-large w3-white w3-margin-top w3-margin-bottom ">
    <p class="w3-xxlarge">
        @artwork.Title
    </p>

    <div class="w3-row">
        <div class="w3-col w3-margin-top m6 w3-center w3-padding-large">
            <p>
                <b><i></i>Photo</b>
            </p><br>
            <img src="@artwork.ImageUrl" class="imageResult w-100" alt="@artwork.Title"/>
        </div>

        <div class="w3-col w3-margin-top m6 w3-padding-large w3-left-align">
            @if (artwork.Description.Length > 0)
            {
                <p>
                    @artwork.Description
                </p>
            }
            else
            {
                <p>
                    [The description is missing. Consider adding it.]
                </p>
            }
        </div>
    </div>

    <div class="w3-center">
        <button class="general-button w-75" @onclick="toggle">Edit</button>
    </div>


    @if (showEdit)
    {
        <EditForm Model="@artwork" OnValidSubmit="async () => await Artwork.UpdateItemAsync(artwork)">
            <div class="container">
                <div class="row">
                    <div class="col w3-margin-top">
                        <label class="w3-bold">
                            <span class="material-symbols-outlined">
                                person
                            </span>
                            Author
                        </label>
                        <input class="w3-round w-100" type="text"
                           @bind-value="artwork.Author"
                               placeholder="Enter Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col w3-margin-top">
                        <span class="material-symbols-outlined">
                            history_edu
                        </span>
                        <label class="w3-bold">
                            Title
                        </label>
                        <input class="w3-round w-100" type="text"
                           @bind-value="artwork.Title"
                               placeholder="Enter Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col w3-margin-top">
                        <label class="w3-bold">
                            <span class="material-symbols-outlined">
                                today
                            </span>
                            Date
                        </label>
                        <input class="w3-round w-100" type="text"
                           @bind-value="artwork.Date"
                               placeholder="Enter Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col w3-margin-top">
                        <label class="w3-bold">
                            <span class="material-symbols-outlined">
                                format_paint
                            </span>
                            Technique
                        </label>
                        <input class="w3-round w-100" type="text"
                           @bind-value="artwork.Technique"
                               placeholder="Enter Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col w3-margin-top">
                        <label class="w3-bold">
                            <span class="material-symbols-outlined">
                                location_on
                            </span>
                            Location
                        </label>
                        <input class="w3-round w-100" type="text"
                           @bind-value="artwork.Location"
                               placeholder="Enter Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col w3-margin-top">
                        <label class="w3-bold">
                            <span class="material-symbols-outlined">
                                burst_mode
                            </span>
                            Form
                        </label>
                        <input class="w3-round w-100" type="text"
                           @bind-value="artwork.Form"
                               placeholder="Enter Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col w3-margin-top">
                        <label class="w3-bold">
                            <span class="material-symbols-outlined">
                                magic_button
                            </span>
                            Subject Theme
                        </label>
                        <input class="w3-round w-100" type="text"
                           @bind-value="artwork.Type"
                               placeholder="Enter Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col w3-margin-top">
                        <label class="w3-bold">
                            <span class="material-symbols-outlined">
                                subject
                            </span>
                            Description
                        </label>
                        <InputTextArea class="w-100 w3-round" rows="8" @bind-Value="artwork.Description" />
                    </div>
                </div>
                <div class="row">
                    <div class="col w3-margin-top">
                        <span class="material-symbols-outlined">
                            attach_file_add
                        </span>
                        <label class="w3-bold">
                            File
                        </label>
                        <InputFile class="w-100" OnChange="e => artwork.File = e.File" />
                    </div>
                </div>
            </div>

            <DataAnnotationsValidator />
            <ValidationSummary />
            <button type="submit" class="general-button w3-center">Update</button>
        </EditForm>
    }
</div>


@code {

    [Parameter]
    public BaseArtwork artwork { get; set; }

    private bool showEdit;

    private void toggle()
    {
        showEdit = !showEdit;
    }

}