<style>
        img {
            display: block;
            max-width: 560px;
            max-height: auto;
            width: auto;
            height: auto;
        }

    a:link, a:visited {
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a:hover, a:active {
        color: red;
    }
</style>
<div class="w3-card-4 w3-animate-right w3-round-large w3-white w3-margin-bottom w3-padding-top-24">
        <p class="w3-xxlarge">
        <a class="w3-bold w3-xlarge w3-hover-border-red w3-margin-top w3-margin-bottom w3-text" href="/detail-artwork/@artwork.Id">@artwork.Title</a>
        <button class="w3-round-large w3-center button-padding w3-text-black w3-hover-text-red w3-button">
            <span class="material-symbols-outlined">
                bookmark
            </span>
        </button>
    </p>

    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <p><b><i class="fa fa-user w3-margin-right"></i>Photo</b></p><br>
            <img src="@artwork.ImageUrl" alt="@artwork.Title" @onclick='() => OnClick(artwork.ImageUrl, artwork.Title)' />

            @if (ModalVisible)
            {
                <div class="modal">
                    <img src="@ImageSource" alt="@CaptionText" />
                    <div class="caption">@CaptionText</div>
                    <button @onclick="Close">x</button>
                </div>
            }
        </div>

        <div class="w3-col m6 w3-padding-large w3-left-align">
            @if (artwork.Description.Length > 0)
            {
                <p>
                    @artwork.Description
                </p>
            }
            else
            {
                <p>
                    Nothing to see
                </p>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Models.Artwork.BaseArtwork artwork { get; set; }

    private string ImageSource { get; set; }
    private string CaptionText { get; set; }
    private bool ModalVisible { get; set; }


    private void OnClick(string source, string alt)
    {
        ImageSource = source;
        CaptionText = alt;
        ModalVisible = true;
    }

    private void Close()
    {
        ModalVisible = false;
    }

}