@using ProjectWork.Utilities
@using Microsoft.AspNetCore.Components
@using ProjectWork.Models.Artist
@using ProjectWork.ViewModels.Artist
@inject DashboardAdminArtistVM DirectorArtistSearch

<style>
    .b {
        border-radius: 8px;
        border: 0px;
        background-color: #cc0000 !important;
        color: white;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

        .b:hover {
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 8px;
            border: 0px;
            opacity: 0.60;
            background-color: #cc0000 !important;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }

    .button-icon {
        vertical-align: middle;
    }
</style>

<div class="w3-bar w3-padding">
    <form @onsubmit="DoSearch">
        <span>

            <input id="searchBar" type="search"
                   class="w3-padding w3-round-large w3-margin-bottom w3-margin-right w-100" step="any"
                   value="@SearchField" @onchange="e =>{ DirectorArtistSearch.Parameters.SetPage(1);SearchField = (string)e.Value; DirectorArtistSearch.Parameters.SetSearch(SearchField);}" />

            <span class="material-symbols-outlined middle w3-xxlarge">
                low_priority
            </span>

            <label class="switch middle w3-margin-left w3-margin-right">
                <input type="checkbox" checked @onchange="CheckboxChanged">
                <span class="slider round"></span>
            </label>

            <span class="material-symbols-outlined reverse middle w3-xxlarge w3-margin-right">
                low_priority
            </span>

            <button type="submit" class="b w3-margin-top">
                <span class="material-symbols-outlined button-icon">search</span>
                Search
            </button>
            <button type="submit" class="b w3-margin-top" @onclick="()=>{ ShowAdvanced=!ShowAdvanced; }">
                <span class="material-symbols-outlined button-icon">frame_inspect</span>
                Advanced options
            </button>
            <button type="submit" class="b w3-margin-top" @onclick="async() => await Reset()">
                <span class="material-symbols-outlined button-icon">layers_clear</span>
                Clear fields
            </button>
        </span>
     
        @if (ShowAdvanced)
        {


            <div class="input-group d-flex">
                <InputSelect class="form-control p-2" @bind-Value="BaseArtist.Profession">
                    <option value="">Any Profession</option>
                    @foreach (var profession in ArtistFilters.UniqueProfessions.Order())
                    {
                        <option value="@profession">@profession</option>
                    }
                </InputSelect>
                <InputSelect class="form-control p-2" @bind-Value="BaseArtist.School">
                    <option value="" selected>Any School</option>
                    @foreach (var school in ArtistFilters.UniqueSchool.Order())
                    {
                        <option value="@school">@school</option>
                    }
                </InputSelect>
            </div>
        }
    </form>


    <hr />
</div>

@code {
    private string SearchField { get; set; }
    private bool ShowAdvanced { get; set; } = false;
    private BaseArtist BaseArtist { get; set; } = new();
    async Task DoSearch()
    {
        DirectorArtistSearch.Parameters.SetSpecific(BaseArtist);
        await DirectorArtistSearch.GetGenericDataFromPageAsync();
    }
    private async Task CheckboxChanged(ChangeEventArgs e)
    {
        var b = (bool)e.Value;
        DirectorArtistSearch.Parameters.SetOrdering(b ? "name" : "-name");
        await DoSearch();
    }

    private async Task Reset()
    {
        BaseArtist = new();
        DirectorArtistSearch.Parameters.ResetParameters();
        await DirectorArtistSearch.GetGenericDataFromPageAsync();
    }

}